<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo(a)</h1>
                    <h5 class="fs-18">Publique aqui, suas pixel arts!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagem</a>
                </div>
            </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/ROfUrTG.png" alt="Mulher olhando quadro" width="500px" height="500px">
        </div>
    </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

    <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-secondary font-weight-bold" id="pills-todasPostagens-tab" data-toggle="pill" href="#todasPostagens" role="tab" aria-controls="pills-todasPostagens" aria-selected="true">Todas as postagens</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-secondary font-weight-bold" id="pills-minhasPostagens-tab" data-toggle="pill" href="#minhasPostagens" role="tab" aria-controls="pills-minhasPostagens" aria-selected="false">Minhas postagens</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary font-weight-bold" id="pills-postagemTema-tab" data-toggle="pill" href="#postagemTema" role="tab" aria-controls="pills-postagemTema" aria-selected="false">Postagens por tema</a>
        </li>

      </ul>
      
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="pills-todasPostagens-tab">
            Todas as postagens
        </div>

        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="pills-minhasPostagens-tab">
            Minhas postagens
        </div>

        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="pills-postagemTema-tab">
            Postagens por tema
        </div>
      </div>
</div>










  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea name="texto" class="form-control" id="texto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Escolha um tema ou <a routerLink='/tema' data-dismiss="modal">cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control">
                <option value="">Temas</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>